<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.odu.cs.air411.wherearfthou">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ReportMap"
            android:label="@string/title_activity_report_map"></activity>
        <activity
            android:name=".FoundReportActivity"
            android:label="@string/title_activity_found_report" />
        <activity
            android:name=".LostReportActivity"
            android:label="@string/title_activity_lost_report" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDUFPScBXrB2ko3SE8DHRIKUU9TsIJNZy8" />
    </application>

</manifest>